:root {
  --color-accent: #0091ea;
  --color-focus: rgba(0, 145, 234, 0.5);

  --color-neutral-ultralight: #fafafa;
  --color-neutral-light: #f2f2f2;
  --color-neutral-medium: #d6d6d6;
  --color-neutral-dark: #111;

  --font-primary: roboto, sans-serif;
}

body {
  min-width: 320px;

  color: var(--color-neutral-dark);
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid var(--color-focus);
  outline-offset: 1px;
}

a:focus, [tabindex="0"]:focus {
  outline-offset: 1px;
}

.main {
  max-width: 2560px;
}

.bg-c-ul {
  background-color:  var(--color-neutral-ultralight);
}

.bg-c-l {
  background-color:  var(--color-neutral-light);
}

.theme-dark-1 {
  background-color: #000;

  color: #fff;
}

.theme-dark-2 {
  background-color: #121212;

  color: #fff;
}

.text-left-center {
  text-align: left;
}

.push-4 {
  margin-bottom: 5.2rem;
}

.push-r-2 {
  margin-right: 2.6rem;
}

.pad-t-4 {
  padding-top: 5.2rem;
}

.pad-b-4 {
  padding-bottom: 5.2rem;
}

@media only screen and (min-width: 46em) {

  .text-left-center {
    text-align: center;
  }

  .push-4 {
    margin-bottom: 5.6rem;
  }

  .push-m-0 {
    margin-bottom: 0;
  }

  .push-r-2 {
    margin-right: 2.8rem;
  }

  .pad-t-4 {
    padding-top: 5.6rem;
  }

  .pad-b-4 {
    padding-bottom: 5.6rem;
  }

}

@media only screen and (min-width: 67em) {

  .push-4 {
    margin-bottom: 6rem;
  }

  .push-r-2 {
    margin-right: 3rem;
  }

  .pad-t-4 {
    padding-top: 6rem;
  }

  .pad-b-4 {
    padding-bottom: 6rem;
  }

}
