.thumbnail-embed::before {
  transition: 500ms background-color cubic-bezier(0.4, 0, 0.6, 1);
  content: ' ';
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.thumbnail-link:hover .thumbnail-embed::before {
  background: rgba(0,0,0,0.35);
}

.thumbail-link {
  cursor: pointer;
}