.theme-moments {
  background-color: #e0f7fa;

  color: #0097a7;
}

.moments-section-hero {
  background: linear-gradient(#e0f7fa, #b2ebf2);

  color: #0097a7;
}

.moments-icons {
  color: #00aa8d;
}

.moments-hero-image-container {
  height: 100vh;
  min-height: 45rem;
}

.image-user {
  height: 12.68rem;
  width: 17.4rem;
  background-image: url("../images/moments/user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.moments-hero-image {
  margin-left: auto;
  margin-right: auto;
  height: 35rem;
  width: 17.4rem;

  background-image: url("../images/moments/hero-image.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.moments-animation-container {
  height: 9rem;
  width: 9rem;
  left: 50%;
  top: 10rem;
  transform: translateX(-50%);
}

.moments-animation {
  border-radius: 50%;
}

.moments-animation-inner {
  height: 3rem;
  width: 3rem;

  background-color: #00bcd4;
}

.moments-animation-middle {
  height: 6rem;
  width: 6rem;

  background-color: #4dd0e1;
  animation: breathe 5s ease-in-out infinite alternate;
}

.moments-animation-outer {
  height: 9rem;
  width: 9rem;

  background-color: #b2ebf2;
  animation: breathe 5s ease-in-out infinite alternate;
}

@keyframes breathe {

  to {
    height: 3rem;
    width: 3rem;
  }

}

/* .moments-intro-copy {
  opacity: 0;
  transform: translateY(16px);

  transition: all .75s .25s ease-out;
}

.js-moments-intro-copy-animate {
  opacity: 1;
  transform: translateY(0);
} */

.image-moments-symbolism {
  height: 17.13em;
  width: 17.375em;

  background-image: url("../images/moments/symbolism.jpg");
  background-size: contain;
}

.image-goals {
  background-image: url("../images/moments/goals.jpg");
}

.image-review {
  background-image: url("../images/moments/review.jpg");
}

.image-moment {
  background-image: url("../images/moments/moment.jpg");
}

.image-history {
  background-image: url("../images/moments/history.jpg");
}

.image-awards {
  background-image: url("../images/moments/awards.jpg");
}

@media only screen and (min-width: 46em) {

  .image-user {
    height: 19rem;
    width: 26.1rem;
  }

}

@media only screen and (min-width: 46em) {

  .image-moments-symbolism {
    height: 18.49em;
    width: 18.75em;
  }

}

@media only screen and (min-width: 67em) {

  .image-moments-symbolism {
    height: 20.17em;
    width: 20.45em;
  }

}

