.nav {
  min-width: 320px;
}

.i-logo {
  width: 7.5rem;
  height: 1.3rem;
}

.logo {
  color: var(--color-text);
}

.nav-link {
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.nav-link:hover {
  opacity: .65;
}
