.nav {
  min-width: 320px;
}

.logo {
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

  text-decoration: none;
}

.logo:hover {
  opacity: .65;
  text-decoration: none;
}

.logo:active {
  outline: none;
}
