.i-app-icon {
  height: 64px;
  width: 64px;
}

.sparmetric-border-top {
  border-top:  2px solid rgba(255, 255, 255, .2);
}

.sparmetric-border-bottom {
  border-bottom:  2px solid rgba(255, 255, 255, .2);
}

.sparmetric-hero-image-container {
  height: 100vh;
  min-height: 45rem;
}

.sparmetric-hero-image {
  height: 32rem;
  width: 17.4rem;
  margin-left: auto;
  margin-right: auto;

  width: 17.4rem;
  animation: slide-up 3s ease-in-out forwards;
}

.sparmetric-hero-phone {
  height: 100%;
  width: 66.15%;

  background-image: url("../images/sparmetric/hero-image-phone.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.sparmetric-hero-sensor {
  height: 25%;
  width: 40%;
  left: 0;
  bottom: 6rem;

  background-image: url("../images/sparmetric/hero-image-sensor.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  animation: slide-down 3s ease-in-out forwards;
}


@keyframes slide-up {

  0% {
    transform: translateY(64px);
  }

  100% {
    transform: translateY(0);
  }

}

@keyframes slide-down {

  0% {
    transform: translateY(-16px);
  }

  100% {
    transform: translateY(0);
  }

}

.sparmetric-content {
  background-color: #000;
  color: #fff;
}

.sm-section-intro-image {
  height: 125%;
  width: 125%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  transition: all 10s ease;
}

.js-sm-section-intro-image-animate {
  height: 100%;
  width: 100%;
}

.sm-section-intro-image-user-experience {
  background-image: url("../images/sparmetric/intro-ux.jpg");
}

.sm-section-intro-image-personas {
  background-image: url("../images/sparmetric/intro-personas.jpg");
}

.sm-section-intro-image-visual-design {
  background-image: url("../images/sparmetric/intro-visualdesign.jpg");
}

.sm-section-intro-image-ideation {
  background-image: url("../images/sparmetric/intro-ideation.jpg");
}

.sm-subsection-image {
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.image-device {
  height: 35em;
  width: 17.375em;
}

.image-get-connected {
  background-image: url("../images/sparmetric/get-connected.jpg");
}

.image-ready-set-spar {
  background-image: url("../images/sparmetric/s-ready-set-spar.jpg");
}

.image-stats {
  background-image: url("../images/sparmetric/s-stats.jpg");
}

.image-achievements {
  background-image: url("../images/sparmetric/s-achievements.jpg");
}

.image-persona-1 {
  height: 35em;
  width: 17.375em;

  background-image: url("../images/sparmetric/s-persona-1.jpg");
}

.image-persona-2 {
  height: 22em;
  width: 17.375em;

  background-image: url("../images/sparmetric/s-persona-2.jpg");
}

.colours-wrapper,
.icons-wrapper {
  width: 17.375em;
}

.image-type {
  height: 13.1em;
  width: 17.375em;

  background-image: url("../images/sparmetric/type.png");
}

.ideation-sketch {
  height: 17.375em;
  width: 17.375em;

  background-size: auto 100%;
  background-position: center left;
}

.image-ideation-1 {
  background-image: url("../images/sparmetric/ideation-1.jpg");
}

.image-ideation-2 {
  background-image: url("../images/sparmetric/ideation-2.jpg");
}


@media only screen and (min-width: 46em) {

  .sparmetric-hero-image-container {
    min-height: 52rem;
  }

  .sparmetric-hero-image {
    height: 40.46rem;
    width: 22rem;
  }

  .image-device {
    height: 37.75em;
    width: 18.75em;
  }

  .intro-copy {
    margin-left: auto;
    margin-right: auto;
  }

  .image-ready-set-spar {
    width: 35em;

    background-image: url("../images/sparmetric/m-ready-set-spar.jpg");
  }

  .image-stats {
    width: 35em;

    background-image: url("../images/sparmetric/m-stats.jpg");
  }

  .subsection-achievements {
    padding-bottom: 0;
  }

  .image-achievements {
    height: 38.85em;
    width: 27.75em;

    background-image: url("../images/sparmetric/m-achievements.jpg");
  }

  .colours-wrapper,
  .icons-wrapper {
    width: 35em;
  }

  .image-type {
    height: 26.39em;
    width: 35em;
  }

  .ideation-sketch {
    width: 36.59em;
  }

}

@media only screen and (min-width: 67em) {


  .i-app-icon {
    height: 96px;
    width: 96px;
  }

  .image-device {
    height: 41.18em;
    width: 20.45em;
  }

  .image-ready-set-spar {
    width: 56em;

    background-image: url("../images/sparmetric/l-ready-set-spar.jpg");
  }

  .image-stats {
    width: 38.23em;
  }

  .image-achievements {
    height: 50.9em;
    width: 36.36em;
  }

  .image-persona-1 {
    margin-left: 0;
  }

   .image-persona-2 {
    margin-right: 0;
  }

  .colours-wrapper,
  .icons-wrapper {
    width: 36.36em;
  }

  .image-type {
    height: 27.41em;
    width: 36.36em;
  }

  .ideation-sketch {
    width: 56em;
  }

}
