.sparmetric-content {
  background-color: #000;
  color: #fff;
}

.sm-section-intro-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% center;
}

.sm-section-intro-image-user-experience {
  background-image: url("../images/sparmetric/sparmetric-ux.jpg");
}

.sm-section-intro-image-personas {
  background-image: url("../images/sparmetric/sparmetric-personas.jpg");
}

.sm-section-intro-image-visual-design {
  background-image: url("../images/sparmetric/sparmetric-visualdesign.jpg");
}

.sm-section-intro-image-connected {
  background-image: url("../images/sparmetric/sparmetric-ux.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-subsection {
  margin-left: auto;
  margin-right: auto;
}
