:root {
  --color-accent: #0091ea;
  --color-focus: rgba(0, 145, 234, 0.5);

  --color-ultralight: #fafafa;
  --color-light: #f2f2f2;
  --color-dark: #1a1a1a;
  --color-ultradark: #0f0f0f;

  --color-text: #111;

  --font-primary: roboto, sans-serif;
}

.light .nav,
.light .footer {
  background-color: var(--color-light);
}

.dark .nav,
.dark .footer {
  background-color: var(--color-ultradark);
}

.dark .logo,
.dark .nav-link {
  color: #fff;
}

.theme-ultralight,
.unit-geomattric {
  background-color:  var(--color-ultralight);

  color: var(--color-text);
}

.theme-light {
  background-color:  var(--color-light);

  color: var(--color-text);
}

.theme-dark {
  background-color: var(--color-dark);

  color: #fff;
}

.theme-ultradark,
.unit-sparmetric {
  background-color: var(--color-ultradark);

  color: #fff;
}

.unit-moments {
  background-color: #e9f7f8;

  color: var(--color-text);
}

.unit-dive {
  background-color: #148E97;

  color: #fff8e1;
}
