.light .nav {
  background-color: rgba(240, 240, 240, 0.9);
}

.light .footer {
  background-color: var(--color-light);
}

.light .logo {
  color: #111;
}

.dark .nav {
  background-color: rgba(34,34,34,0.9)
}

.dark .footer {
  background-color: var(--color-ultradark);
}

.dark .logo {
  color: #fff;
}

.theme-ultralight,
.unit-geomattric {
  background-color:  var(--color-ultralight);

  color: var(--color-text);
}

.theme-light {
  background-color:  var(--color-light);

  color: var(--color-text);
}

.theme-dark {
  background-color: var(--color-dark);

  color: #fff;
}

.theme-ultradark,
.unit-sparmetric {
  background-color: var(--color-ultradark);

  color: #fff;
}

.unit-moments {
  background-color: #e0f2f1;

  color: var(--color-text);
}
