---
layout: default
title: GeoMattric - Matthew Peixoto
theme: light
shorttitle: GeoMattric
subtitle: Type Design
class: geomattric
---

<section class="theme-ultralight gutter">
  <div class="h-100vh center-content wrapper">
    <i class="icon i-256 push-2">
      <img class="img-flex" src="https://placehold.it/256x256" alt="">
    </i>
    <h1 class="yotta">GeoMattric</h1>
  </div>
</section>

<section class="pad-t-4 pad-b-4 gutter">
  <div class="wrapper">
    {% include geomattric-subsection.html
      title="Modular system"
      desc="Similar to how a child can use a set of building blocks to build varied and complex structures, GeoMattric was created using a modular library of independently designed and reusable type components. This system ensures that each glyph is precisely structured and GeoMattric looks and feels consistent as an entire set."
    %}
    <img class="img-flex" src="{{site.baseurl}}/images/geomattric/modular-system.svg" alt="" />
  </div>
</section>

<section class="theme-ultralight pad-t-4 pad-b-4 gutter">
  <div class="wrapper">
    {% include geomattric-subsection.html
      title="Geometric forms"
      desc="GeoMattric has a mechanical skeleton and the forms are largely geometric. Serifs share the same angles. Stems and crossbars are perfectly rectangular. And dots are as round as round can be. These geometric shapes make for a slab-serif typeface that is well-constructed and modern, yet approachable and fun."
    %}
  </div>
</section>

<section class="pad-t-4 pad-b-4 gutter">
  <div class="wrapper">
    {% include geomattric-subsection.html
      title="Friendly curves"
      desc="GeoMattric features friendly and open curves. While some grotesques distort their letter forms to force a rigid rhythm, GeoMattric doesn’t compromise, allowing letters to be settled into their natural width and express curves that aren’t con-strained or forced. These slightly wider and rounder shapes make for a more natural reading rhythm and give GeoMattric a greater sense of friendliness, clarity, and optimism."
    %}
  </div>
</section>
