---
layout: default
theme: light
title: GeoMattric - Matthew Peixoto
description:
class: geomattric
og-title: GeoMattric
og-url: https://www.matthewpeixoto.ca/geomattric/
---

<section class="theme-ultralight gutter">
  <div class="h-100vh geomattric-hero-container center-content wrapper">
    <i class="icon i-256 gm-intro-video push-2">
      <div class="embed embed-1by1">
        <video class="embed-item" autoplay loop playsinline muted>
          <source src="{{site.baseurl}}/images/geomattric/geomattric.mp4" type="video/mp4">
        </video>
      </div>
    </i>
    <div class="gm-intro-copy text-center">
      <h1 class="yotta push-1-2">GeoMattric</h1>
      <p class="giga medium push-0">Type design with a modular, geometric, and friendly approach.</p>
    </div>
  </div>
</section>

<section class="pad-t-4 pad-b-4 gutter">
  <div class="wrapper">
    {% include geomattric-subsection.html
      title="Modular system"
      desc="Similar to how a child can use a set of building blocks to build varied and complex structures, GeoMattric was created using a modular library of independently designed and reusable type components. This system ensures that each glyph is precisely structured and GeoMattric looks and feels consistent as an entire set."
    %}
    <img class="img-flex modular-system push-4 js-scroll" src="{{site.baseurl}}/images/geomattric/modular-system.png" alt="" />
    <div class="grid gm-border-top pad-t-4">
      {% include geomattric-icon.html icon="ms-dot" label="Dot" class="push-2" %}
      {% include geomattric-icon.html icon="ms-unilateral-serif" label="Unilateral Serif" class="push-2" %}
      {% include geomattric-icon.html icon="ms-bilateral-serif" label="Bilateral Serif" class="push-2" %}
      {% include geomattric-icon.html icon="ms-stem" label="Stem" class="push-2" %}
      {% include geomattric-icon.html icon="ms-crossbar" label="Crossbar" class="push-2" %}
      {% include geomattric-icon.html icon="ms-diagonal" label="Diagonal" class="push-2" %}
      {% include geomattric-icon.html icon="ms-shoulder" label="Shoulder" %}
      {% include geomattric-icon.html icon="ms-beak" label="Beak" %}
      {% include geomattric-icon.html icon="ms-bowl" label="Bowl" %}
    </div>
  </div>
</section>

<section class="theme-ultralight pad-t-4 pad-b-4 gutter chop">
  <div class="wrapper">
    {% include geomattric-subsection.html
      title="Geometric forms"
      desc="GeoMattric has a mechanical skeleton and the forms are largely geometric. Serifs share the same angles. Stems and crossbars are perfectly rectangular. And dots are as round as round can be. These geometric shapes make for a slab-serif typeface that is well-constructed and modern, yet approachable and fun."
    %}
    <div class="geometric-forms-image-container relative push-4">
      <img class="img-flex geometric-forms-1 pin-c js-scroll" src="{{site.baseurl}}/images/geomattric/geometric-forms-1.png" alt="" />
      <img class="img-flex geometric-forms geometric-forms-2 absolute js-scroll" src="{{site.baseurl}}/images/geomattric/geometric-forms-2.png" alt="" />
      <img class="img-flex geometric-forms geometric-forms-3 absolute js-scroll" src="{{site.baseurl}}/images/geomattric/geometric-forms-3.png" alt="" />
      <img class="img-flex geometric-forms geometric-forms-4 absolute js-scroll" src="{{site.baseurl}}/images/geomattric/geometric-forms-4.png" alt="" />
      <img class="img-flex geometric-forms geometric-forms-5 absolute js-scroll" src="{{site.baseurl}}/images/geomattric/geometric-forms-5.png" alt="" />
      <img class="img-flex geometric-forms geometric-forms-6 absolute js-scroll" src="{{site.baseurl}}/images/geomattric/geometric-forms-6.png" alt="" />
      <img class="img-flex geometric-forms geometric-forms-7 absolute js-scroll" src="{{site.baseurl}}/images/geomattric/geometric-forms-7.png" alt="" />
    </div>
    <div class="grid gm-border-top pad-t-4">
      {% include geomattric-icon.html icon="gf-circle" label="Perfect Circles" %}
      {% include geomattric-icon.html icon="gf-angles" label="Consistent Angles" %}
      {% include geomattric-icon.html icon="gf-lines" label="Straight Lines" %}
  </div>
  </div>
</section>

<section class="pad-t-4 pad-b-4 gutter">
  <div class="wrapper">
    {% include geomattric-subsection.html
      title="Friendly curves"
      desc="GeoMattric features friendly and open curves. While some grotesques distort their letter forms to force a rigid rhythm, GeoMattric doesn’t compromise, allowing letters to be settled into their natural width and express curves that aren’t con-strained or forced. These slightly wider and rounder shapes make for a more natural reading rhythm and give GeoMattric a greater sense of friendliness, clarity, and optimism."
    %}
    <div class="friendly-curves-image-container relative push-4">
      <img class="img-flex friendly-curves-1 js-scroll" src="{{site.baseurl}}/images/geomattric/friendly-curves-1.png" alt="" />
      <img class="img-flex friendly-curves-2 absolute js-scroll" src="{{site.baseurl}}/images/geomattric/friendly-curves-2.png" alt="" />
    </div>
    <div class="grid gm-border-top pad-t-4">
      {% include geomattric-icon.html icon="fc-spine" label="Spine" %}
      {% include geomattric-icon.html icon="fc-taper-shoulder" label="Taper and Shoulder" %}
      {% include geomattric-icon.html icon="fc-bowl-descender" label="Bowl and Descender" %}
    </div>
  </div>
</section>

<section class="theme-ultralight pad-t-4 pad-b-4 gutter">
  <div class="wrapper">
    <img class="img-flex" src="{{site.baseurl}}/images/geomattric/characters.jpg" alt="" />
  </div>
</section>
