---
layout: default
title: Matthew Peixoto - Interaction designer &amp; front-end web developer (Ottawa, Canada)
description: Matthew Peixoto is a graphic designer and front-end web developer. I build beautiful, responsive, and accessible websites.
theme: light
class: home
og-url: https://matthewpeixoto.ca/
main-class: max-width-2560
---

<div class="wrapper-home">
  <section class="push-1-2 theme-ultralight clear-nav">
    <div class="mega text-center pad-t-2 pad-b-2 gutter">
      <h2 class="exa push-0">Hey, I'm Matt.</h2>
      <p class="giga max-length push-1-2"><strong>I'm an interaction designer and front-end web developer.</strong></p>
      {% include btn-icon.html text="Send a message" href="mailto:matthewpeixoto@gmail.com" %}
    </div>
    <figure class="unit-image unit-image-intro push-0 center-block"></figure>
  </section>
  <section>
    <ul class="list-group push-0">
      {% include unit-primary.html class="cr7" title="CR7" subtitle="Experience the parallax." %}
      {% include unit-primary.html class="sparmetric" title="SparMetric" subtitle="Train smarter." %}
      {% include unit-primary.html class="geomattric" title="GeoMattric" subtitle="Type designed with a system." %}
      {% include unit-primary.html class="moments" title="Moments" subtitle="Take a moment to breathe." %}
    </ul>
  </section>
  <section>
    <ul class="grid unit-secondary-list list-group push-0">
      {% include unit-secondary.html class="sizzle-reel" title="Sizzle Reel" subtitle="Watch the video." cta="Watch the video" %}
      {% include unit-secondary.html class="loyal-rescue" title="Loyal Rescue" subtitle="A delightful web experience." %}
      {% include unit-secondary.html class="dive" title="Dive" subtitle="1, 2, 3, jump!" %}
      {% include unit-secondary.html class="nike-brand-identity" title="Nike Brand Identity" subtitle="Branding in motion." %}
    </ul>
  </section>
</div>
