---
layout: default
title: Matthew Peixoto - Graphic designer &amp; front-end web developer - Ottawa, Canada
description: Matthew Peixoto is a graphic designer and front-end web developer. I believe that every web page should be intuitive, responsive, and completely accessible.
theme: light
---

<section class="push-1-2">
  <div class="theme-ultralight">
    <div class="hero-info mega text-center pad-t-2 pad-b-2 gutter">
      <h2 class="exa push-1-2">Hey, I'm Matt.</h2>
      <p class="push-1-2 max-length">I'm a <strong>graphic designer</strong> and <strong>front-end web developer</strong>. I believe that every web page should be responsive, accessible, and absolutely beautiful.</p>
      {% include btn-icon.html text="Send me a message" href="mailto:hey@matthewpeixoto.ca" %}
    </div>
    <div>
      <figure class="unit-image unit-image-intro push-0 center-block"></figure>
    </div>
  </div>
</section>
<section>
  <ul class="list-group push-0">
    <!-- {% for piece in site.pages %}
      {% if piece.url == "/" %}{% continue %}{% endif %}
      {% include unit.html title=piece.shorttitle subtitle=piece.subtitle class=piece.class url=piece.url %}
    {% endfor %} -->

    {% include unit.html class="sparmetric" title="SparMetric" subtitle="UX/UI Design" %}
    {% include unit.html class="moments" title="Moments" subtitle="UX/UI Design" %}
    {% include unit.html class="geomattric" title="GeoMattric" subtitle="Type Design" %}
    {% include unit.html class="dive" title="Dive" subtitle="Motion Graphics" %}
  </ul>
</section>
