---
layout: default
title: Matthew Peixoto - Graphic designer &amp; front-end web developer - Ottawa, Canada
description: I'm a graphic designer and front-end web developer I believe that every web page should be responsive, accessible, and absolutely beautiful.
theme: light
---

<section class="push-1-2 clear-nav">
  <div class="theme-ultralight">
    <div class="mega text-center pad-t-2 pad-b-2 gutter">
      <h2 class="exa push-1-2">Hey, I'm Matt.</h2>
      <p class="push-1-2 max-length">I'm a <strong>graphic designer</strong> and <strong>front-end web developer</strong>. I believe that every web page should be responsive, accessible, and absolutely beautiful.</p>
      {% include btn-icon.html text="Send me a message" href="mailto:hey@matthewpeixoto.ca" %}
    </div>
    <div>
      <figure class="unit-image unit-image-intro push-0 center-block"></figure>
    </div>
  </div>
</section>
<section>
  <ul class="list-group push-0">
    {% include unit-primary.html class="sparmetric" title="SparMetric" subtitle="UI/UX Design" %}
    {% include unit-primary.html class="moments" title="Moments" subtitle="UI/UX Design" %}
    {% include unit-primary.html class="loyal-rescue" title="Loyal Rescue" subtitle="Web Development" %}
    {% include unit-primary.html class="cr7" title="CR7" subtitle="Motion Graphics / Web Development" %}
    {% include unit-primary.html class="geomattric" title="GeoMattric" subtitle="Type Design" %}
  </ul>
</section>
<section>
  <ul class="grid unit-secondary-list list-group push-0">
    {% include unit-secondary.html class="dive" title="Dive" subtitle="Motion Graphics" %}
    {% include unit-secondary.html class="waiting-for-the-bus" title="Waiting for the Bus" subtitle="Isometric Illustration" %}
  </ul>
</section>

