---
layout: default
title: Loyal Rescue - Matthew Peixoto
description:
theme: light
shorttitle: Loyal Rescue
subtitle: Web Development
class: loyal-rescue
---

<section class="theme-loyal-rescue gutter clear-nav chop">
  <div class="text-center pad-t-4 push-4">
    <h1 class="zetta push-1-2">Loyal Rescue</h1>
    <p class="giga medium max-length">Every loving dog from Loyal Rescue deserves a loving home. And a website that provides a great user&nbsp;experience is the first step in making that possible.</p>
    {% include btn-icon.html
      text="Use the interactive prototype"
      href="https://matthewpeixoto.github.io/dog-rescue-pattern-library/pages/home.html#"
      class="mega push-r"
    %}
    {% include btn-icon.html
      text="View the pattern library"
      href="https://matthewpeixoto.github.io/dog-rescue-pattern-library/#brand"
      class="mega"
    %}
  </div>
  <div class="center-content">
    <figure class="loyal-rescue-hero-image push-0"></figure>
  </div>
</section>
