<section class="theme-{{include.theme}}">
  <div class="theme-dark-1 gutter">
    <div class="section-hero-image-container center-content">
      <figure class="section-hero-image section-hero-image-{{include.class}} push-0"></figure>
    </div>
    <div class="text-left-center pad-b-4">
      <i class="icon i-section-hero push-1-2">
        <img src="../images/moments/moments-app-icon.svg" alt="{{include.alt}}" />
      </i>
      <h1 class="yotta normal">{{include.title}}</h1>
      <p class="mega max-length-no-center m-center push-0">{{include.copy}}</p>
    </div>
  </div>
</section>
