<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/theme.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/nav.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/home.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/sparmetric.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/dive.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <link href="{{site.baseurl}}/favicon.ico" rel="shortcut icon">
</head>
<body class="{{page.theme}}">

  <nav class="nav text-center" role="navigation">
    <a class="nav-link ib island-1-2" href="{{site.baseurl}}/">
      <h1 class="push-0 micro">
        <span class="visually-hidden">Matthew Peixoto</span>
        <i class="icon i-logo">
          <svg class='logo'><use xlink:href="{{site.baseurl}}/images/icons.svg#matthew-peixoto"></use></svg>
        </i>
      </h1>
    </a>
  </nav>

  <main role="main">
    {{content}}
  </main>

  <footer class="footer gutter color-light" role="contentinfo" id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
    <div class="wrapper pad-t pad-b">
      <div class="milli">
        <p class="push-1-2">&copy; <span itemprop="name">Matthew Peixoto</span>
        <ul class="list-group-inline push-0 footer-contact">
          <li class="push-1-2 w-1">Send me a message at <a class="btn-link" itemprop="email" href="mailto:hey@matthewpeixoto.ca">hey@matthewpeixoto.ca</a></li>
          <li class="push-r"><a class="btn-link" href="https://github.com/matthewpeixoto">GitHub</a></li>
          <li class="push-r"><a class="btn-link" href="https://www.behance.net/matthew-peixoto">Behance</a></li>
          <li><a class="btn-link" href="https://vimeo.com/matthewpeixoto">Vimeo</a></li>
        </ul>
      </div>
    </div>
  </footer>

</body>
</html>

