<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/nav.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/home.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/sparmetric.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>
<body class="{{page.theme}}">

  <nav class="nav gutter pad-t-1-2 pad-b-1-2 fixed w-1 zindex-1000" role="navigation">
    <div class="grid grid-middle wrapper">
      <h1 class="unit s-1-2 mega push-0">
        <a class="logo ib" href="{{site.baseurl}}/index.html">Matthew Peixoto</a>
      </h1>
      <div class="unit s-1-2 text-right">
        <a class="btn micro" href="mailto:hey@matthewpeixoto.ca">Send message</a>
      </div>
    </div>
  </nav>

  {{content}}

  <footer class="footer gutter theme-light" role="contentinfo">
    <div class="wrapper">
      <ul class="list-group-inline push-0 pad-t-2 pad-b-2 footer-contact">
        <li class="push w-1">Send me a message at <a class="btn-link" href="mailto:hey@matthewpeixoto.ca">hey@matthewpeixoto.ca</a></li>
        <li class="push-r"><a class="btn-link" href="https://github.com/matthewpeixoto">GitHub</a></li>
        <li class="push-r"><a class="btn-link" href="https://www.behance.net/matthew-peixoto">Behance</a></li>
        <li><a class="btn-link" href="https://vimeo.com/matthewpeixoto">Vimeo</a></li>
      </ul>
    </div>
  </footer>

</body>
</html>
